@import "tailwindcss";

@theme {
    --color-primary: #243252;
    --color-primary-50: #f4f6f9;
    --color-primary-100: #e9edf3;
    --color-primary-200: #c9d2e0;
    --color-primary-300: #a9b7cd;
    --color-primary-400: #6a84a7;
    --color-primary-500: #4b6389;
    --color-primary-600: #32486d;
    --color-primary-700: #243252;
    /* Primary */
    --color-primary-800: #1b2740;
    --color-primary-900: #11192a;
}

body {
    background-color: theme('colors.gray.100');
    max-width: 500px;
    margin: 0 auto;
    padding: 0px;
}

button {
    cursor: pointer;
}

/* Hide scrollbar */
#main-content {
    scrollbar-width: none;

    /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
}