@import "tailwindcss";

body {
    background-color: theme('colors.gray.100');
    max-width: 500px;
    margin: 0 auto;
    padding: 0px;
}

button {
    cursor: pointer;
}

/* Hide scrollbar */
#main-content {
    scrollbar-width: none;

    /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
}